body {
    background: linear-gradient(to right, #1a202c, #2d3748, #1a202c);
    color: #e2e8f0;
    font-family: 'Roboto', sans-serif;
}

button {
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(99, 179, 237, 0.8);
}

input[type="file"] {
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: #e2e8f0;
}

input[type="file"]:focus {
    border-color: #63b3ed;
    box-shadow: 0 0 10px rgba(99, 179, 237, 0.8);
}

img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    margin: 0 auto; /* Center the image */
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(99, 179, 237, 0.8);
}

.result-image {
    width: 500px; /* Increase width */
    height: 250px; /* Increase height */
}
